.our-courses {
  background-image: url("../../../Assets/Images/bg-pixell.svg");
  background-color: #c9af89;
  background-blend-mode: overlay;
  padding-bottom: 68px;
}

.other-blogs__btn{
text-align: center;
}
.courses {
  background-image: url("../../../Assets/Images/bg-pixell.svg");
  background-color: #c9af89;
  background-blend-mode: overlay;
  padding-bottom: 68px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 345px;
  }
}

.display-show {
  display: block !important;
}

@media screen and (max-width: 768px) {
  .our-courses {
    padding-bottom: 50px;
  }
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .courses {
    padding: 0;
  }
}

.courses__title {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .courses__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.courses__sub-title {
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  width: 530px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .courses__sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .courses-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.courses-item {
  width: 540px;
  height: 464px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 30px 50px 30px;
}

.courses-item:nth-child(2n) {
  margin-right: 0;
}

.courses-item:nth-last-child(1) {
  margin-bottom: 0;
}

.courses-item:nth-last-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .courses-item {
    display: none;
    width: 332px;
    height: 421px;
    padding: 15px 23px 28px 10px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: -9.5px;
  }
  .courses-item:nth-child(-n + 4) {
    display: block;
  }
  .courses-item:nth-last-child(2) {
    margin-bottom: 5px;
  }
}

.courses-item__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 3px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .courses-item__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.courses-item__teacher {
  display: inline-block;
  font-family: "HelveticaNeueCyr";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  padding: 10px 10px 8px 10px;
  background-color: #a76bc7;
  opacity: 0.8;
  border-radius: 10px;
  margin: 0;
  margin-top: auto;
  margin-bottom: 3px;
}

@media screen and (max-width: 768px) {
  .courses-item__teacher {
    font-size: 12px;
    line-height: 12px;
    width: 75px;
    padding: 8px 5px;
    border-radius: 5px;
    margin-bottom: 18px;
  }
}

.courses-item__img {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 230px;
  margin-left: auto;
  border-radius: 50%;
  background-image: url("../../../Assets/Images/bolalarga.jpg");
}

.courses-item__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: -70px;
  background-color: #faf2e7;
  opacity: 0.8;
  z-index: -1;
}

.courses-item__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px dashed #faf2e7;
  top: 0;
  left: -120px;
  opacity: 0.7;
  z-index: -2;
}

@media screen and (max-width: 768px) {
  .courses-item__img {
    width: 150px;
    height: 150px;
    background-image: url("../../../Assets/Images/bolalarga-mobile.jpg");
  }
  .courses-item__img::after {
    left: -50px;
  }
  .courses-item__img::before {
    left: -90px;
  }
}

.courses-item__info {
  width: 432px;
}

@media screen and (max-width: 768px) {
  .courses-item__info {
    width: 345px;
    margin: 0;
  }
}

.courses-item__title {
  font-family: "Bebas Neue";
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .courses-item__title {
    font-size: 34px;
    line-height: 41px;
  }
}

.courses-item__subtitle {
  font-family: "Bebas Neue";
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .courses-item__subtitle {
    font-size: 34px;
    line-height: 41px;
  }
}

.courses-item__description {
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
  margin: 5px 0 16px;
}

@media screen and (max-width: 768px) {
  .courses-item__description {
    font-size: 16px;
    line-height: 24px;
    width: 345px;
    margin-top: 0;
  }
}

.courses-item__edit {
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 500;
  line-height: 17.78px;
  color: #333333;
  text-decoration: underline;
  background: none;
  border: transparent;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .courses-item__edit {
    font-size: 20px;
    line-height: 20px;
  }
}

.course-list_show-more {
  display: none;
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  font-weight: 550;
  line-height: 16px;
  color: #ffffff;
  width: 187px;
  margin: 0 auto;
  margin-top: 19px;
  padding: 18px 30px;
  background-color: #a76bc7;
  border-radius: 50px;
  border: none;
}

@media screen and (max-width: 768px) {
  .course-list_show-more {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */
