@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("http://fonts.cdnfonts.com/css/helveticaneuecyr-2");

* {
  font-family: "HelveticaNeueCyr", cursive;
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
